body {
    font-family: 'Slabo 27px', serif;
    background-color: rgb(55, 55, 100);
    color:white;
}

.plusDiaper, .minusDiaper {
    font-size: 45px;
    width:100%;
    background-color:rgb(93, 93, 145);
    padding-left: 20%;
    margin-top: 10px;
}

.counter {
    font-size: 75px;
}

.junebug {
    margin-left: 20%;
    width: 60%;
    height: auto;
}

.quote {
    font-size: 30px;
}